.banner {
    background: url("/public/banner_driveway5.jpg") center 67%;
    height: 50vh;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 14vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #EF210D !important;
}

.banner__info > button {
    background-color: #EF210D;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__info > button:hover {
    background-color: white;
    color: #EF210D;
}