.home__form {
    font-size: 50px;
    text-transform: capitalize;
}

.home__header {
    font-size: 35px;
    display: flex;
    margin-top: 20px;
    width: 50vw;
}

.home__contents {
    font-size: 16px;
    display: flex;

}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-width: 1px;
    border-color: gray;
    border-style: outset;
}

li {
    list-style-type: '✨ ';
}

a {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: black;
}