.header__right {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-width: 1px;
    border-color: gray;
    border-style: outset;
}